<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<% if @participant.leader %>
    <p>Hello <%= @participant.email %>, you've created a trip with TripTether!</p>
<% else %>
    <p>Hello <%= @participant.email %>, you've been invited on a trip with TripTether!</p>
<% end %>

<p>To join the trip open the TripTether app and enter these settings:</p>
<p>&nbsp;&nbsp;Trip ID: <%= @participant.trip.id %><br>
&nbsp;&nbsp;PIN: <%= @participant.trip.pin %></p>

<p><i>Thanks for taking a trip with TripTether!</i></p>
</body>
</html>