<h3 align="center" style="margin-bottom: 20px;">Welcome to TripTether</h3>
<img style="margin-bottom: 30px;" align="center" height="133" width="133" src="images/tticon.png">
<a href="https://play.google.com/store/apps/details?id=com.triptether.mapping">
  <img style="margin-bottom: 20px;" align="center" alt="Get it on Google Play"
       src="/images/en_generic_rgb_wo_45.png" />
</a>
<a href="https://itunes.apple.com/us/app/triptether/id916256484?mt=8&uo=4" target="itunes_store">
  <img style="margin-bottom: 20px;" align="center" alt="Download on the App Store"
       src="/images/Download_on_the_App_Store_Badge_US-UK_135x40.svg" />
</a>
