<% content_for :title do %>About<% end %>
<h3>About TripTether</h3>
<p>TripTether is an easy way to keep in touch with friends while on a trip.</p>

<p>Set up trips and invite friends to join to using a simple PIN code.  <br>Maps show you where everyone is while on the trip.</p>

<p>Creating new trips is easy, just enter the address and the city.  <br>You can specify a departure time and add notes with useful information about the trip.  <br>Sharing the trip with friends is done by sending a PIN code by SMS or eMail.  <br>The PIN will allow your friends to join your trip and add them to the trip map.</p>

<p>While travelling each persons location is displayed and updated on the map.  <br>Each person is labelled on the map with their nickname.  <br>Everyone can add comments and these are displayed on the map too.</p>

<p>Use map options to show traffic and weather.  <br>Zoom in on each friend and the destination to see their locations and find them easily.</p>

<p>Trip route information is available on the map and as text driving instructions.</p>

<p><strong>Use of TripTether requires that you read and agree to our Terms of Use and Privacy Policy.</strong></p>
<p><%= link_to 'Terms of Use', page_path('terms_of_use') %> / <%= link_to 'Privacy Policy', page_path('privacy_policy') %></p>
<p>If you have any questions about our Terms of Use or Privacy Policy, please contact us.</p>