<p>Hello <%= @resource.email %>!</p>

<p>Having problems with your TripTether password? You can reset your password through the link below.</p>

<p>&nbsp;&nbsp;<%= link_to 'Change my password', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Your password won't change until you access the link above and create a new one.</p>

<p><i>Thanks for taking a trip with TripTether!</i></p>
